* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  height: 50px;
  background-color: #ff9a4b;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.step-box {
  width: 300px;
  margin-right: 30px;
  padding: 10px;
  position: relative;
  background-color: #eee;
}

.step-box:last-child {
  margin-right: 0;
}

.step-img1 {
  height: 150px;
  background-image: url(img/flow01.png);
  background-position: bottom;
  background-size: cover;
}

.step-img2 {
  height: 150px;
  background-image: url(img/flow02.png);
  background-position: bottom;
  background-size: cover;
}

.step-img3 {
  height: 150px;
  background-image: url(img/flow03.png);
  background-position: bottom;
  background-size: cover;
}

.step-num {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff9a4b;
  color: #fff;
}

.title {
  margin: 15px 0 5px;
}

footer {
  height: 50px;
  background-color: #aaa;
}

@media screen and (max-width: 768px) {
  header {
   width:100%;
   display: flex;
   flex-direction: column;
  }

  main {
    width:100%;
    display: flex;
    flex-direction: column;
    margin: 40px 20px 40px 15px;
    }

  .step-box {
    width:90%;
    display: flex;
    flex-direction: column;
    margin: 10px;
  }

  .step-box:last-child {
    display: flex;
    flex-direction: column;
  }

  .step-img1 {
    display: flex;
    flex-direction: column;
  }

  .step-img2 {
    display: flex;
    flex-direction: column;
  }

  .step-img3 {
    display: flex;
    flex-direction: column;
  }

  .step-num {
    display: flex;
    flex-direction: column;
  }

  .title {
    display: flex;
    flex-direction: column;
  }

  footer {
    display: flex;
    flex-direction: column;
  }

  }